# PostgreSQL Config
POSTGRES_USER=dttmr_user
POSTGRES_PASSWORD=super_secret_db_password
POSTGRES_DB=dttmr_db

# App Config
DTTMR_DATABASE_URL=postgres://dttmr_user:super_secret_db_password@postgres:5432/dttmr_db?sslmode=disable&timezone=utc
DTTMR_OTLP_ENDPOINT=otel-collector:4317
DTTMR_ENVIRONMENT=production
DTTMR_JWT_SECRET=super_secret_jwt_key
DTTMR_PORT=8080

# Bootstrap Admin
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme

